header {
  background-color: rgb(11, 119, 161);
  padding: 20px 0;
  padding-top: 50px;
  padding-bottom: 15px;
}
.title {
  text-align: center;
  color: mediumspringgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  font-size: 4rem;
}
span {
  vertical-align: middle;
}
span img {
  height: 100px;
}
@media screen and (max-width: 550px) {
  header {
    background-color: rgb(11, 119, 161);
    width: 100%;
    margin: auto;
  }
}
